html, 
body {
background-color: #222321;
font-size: 15px;
    color: #d9d9d9;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'open_sansregular', sans-serif;
    font-weight: 300;

}



@font-face {
    font-family: Gilroy;
    src: url(Gilroy-Light.otf);
}

.heading {
	font-size: 4rem;
	padding: 20px;
	margin-top: 7%;
}

.heading h1 {
  width: 40%;
}

.welcome {
font-size: 2rem;
padding: 5px;

/*margin: 20 auto 0 auto;*/
}

.welcome h1 {
  color:#B73737 ;
}

hr {
	border: 1px solid #B73737;
	/*color: #B73737;*/
}

.linehome {
  margin-top: -5%;
  position: absolute;
  margin-left: 35%;
}

.linehome1 {
  margin-top: -3%;
}

.col-sm-6.focus {
    border-right: thick solid #999999;
    margin-top: -1%;

}

.split {
  background-color: #B73737;
  width: 100%;
  height: 50px;
}

.split p {
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 15px;

}

/*   a  {
  color: #B73737;
  text-decoration: none;
}*/
a:hover {
  color: #fff;
  text-decoration: none;
}
/*a:visited {
  color: #f68f67;
  text-decoration: none;
}*/

/*=== NAVIGATION ==== */
.menu {
  position:fixed;
  top:0px;
  width:100%; 
  height:auto; 
   background-color: rgba(51, 51, 51, 0.8);
/*  z-index:1;*/
}

.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:rgba(51, 51, 51, 0.8);
}

.direction {
    display: inline;
}
/*#logo {
  text-align: center;
  margin: 5px 0;
  width: 20%;
}*/

/*#logo img {
  width: 40%;
}*/




.nav  li:hover {
  color:#B73737 ;
}

.nav ul ul {
    display: none;
    position: absolute; top: 60px;
    margin-left: 0%;
    font-size: 1rem;
    list-style-type: none;
    background-color: #B73737;
    width: 10%;
    padding: 1%;
    
}
/* Display Dropdowns on Hover */
.nav ul li:hover > ul {
    display:list-item;
    color: #fff;
    list-style-type: none;
    background-color: #B73737;
    width: 150%;
    padding: 2%;
}
/* Fisrt Tier Dropdown */
.nav ul ul li {
    width:5%;
    margin-left: 0%;
    position: relative;
    border-bottom:none;
    list-style-type: none;
    color: #fff;
    padding: 2%;
  }

  font header .navbar-default .navbar-nav li a:hover {
  color: #B73737;
}
   
/*}*/
.nav ul ul li i {
    margin-right:10px;
    }
/*#nav ul ul li a {
    padding:15px 20px;
    text-align:left;
    }*/




.brain {
	max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: -5%;
}

.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:rgba(51, 51, 51, 0.8);
}


.header .navbar-brand>img {
    max-width: 80%;
}

ul#menu.nav.navbar-nav{
    display: none;
    background-color:#B73737; 
}
.header .navbar-default {
    background-color: transparent;
    border-color: transparent;

}
.header .navbar {
    min-height: 70px;
    margin-bottom: 0px;

}
.header .navbar-brand {
    padding: 7px 15px;
}

.header .navbar-form {
    margin-top: 12px;
    margin-right:60px;
}


section{
    max-width: 600px;
    margin: 0 auto 0 auto;
    margin-top: -10%;
    color:#B73737;
    padding: 40px;
}

h2{
  font-size:1.5em;
  color:#525252;
}

.pic img {
  max-width: 47%;
    margin: 0 auto 0 auto;
    padding: 5%;
    margin-top: -3%;
}



.explanation {
width: 100%;

}

.explanation p {
  font-family: 'Open Sans', sans-serif;
  color: #bfbfbf ;
  font-size: 1rem;
    /*text-align: center;*/
    width: 40%;
    margin : 0 auto 0 auto;
    margin-top: -2%;
    padding-bottom: 80px;
}

.box{
  background:#e6e6e6;
  width:300px;
  border-radius:6px;
 padding:10px 20px 20px 10px;
  border: #8c8c8c 2px solid; 
  float: left;
  margin-left: 20%;
    font-family: 'Open Sans', sans-serif;

}



.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn{
  background:#B73737;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  /*border: #B73737 1px solid;*/
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.btn:hover{
  background:#8c8c8c; 
}


#btn2{
  float:left;
  background:#3498db;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  /*border: #2980b9 1px solid;*/
  
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#btn2:hover{ 
background:#3594D2; 
}

.btn-outline-secondary {
    background-color:#737373;
  width:250px;

  height: 30%;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
 /* padding: 10px;*/
  color:white;
  border-radius:4px;
  /*border: #B73737 1px solid;*/
  
  margin-top:-5%;
  /*margin-bottom:20px;*/
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.btn-outline-secondary:hover {
background-color:#396576;
}


p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

.box2 { 
  background:#e6e6e6;
  width:300px;
  border-radius:6px;
  padding:10px 20px 20px 10px;
  border: #8c8c8c 2px solid; 
  float: right;
  margin-right: 20%;
  height: 290px;
  font-family: 'Open Sans', sans-serif;

   }

.box2 h3 {
    color: #999999;
    padding: 3%;
}

.btn.submit {
  margin-top: 15%;
}

   .panel-footer {
    margin-top: 30%;
    background-color: #B73737;
    border: #B73737 4px solid; 
   }

   .panel-footer2 {
    margin-top: 5%;
    background-color: #B73737;
    border: #B73737 4px solid;
    height: 10%;
   }

   .panel-footer.buy {
    margin-top: -1%;

    height: 10%;
   }

   .point{
    left: 40%;
  
   }

   .point img {
    margin-top: 8%;
    max-width: 100%;
    padding-left: 25px;
   }

   /* === GREY AREA ==== */ 

   .about{
    background: #595959;
    height: 650px;
    width: 100%;
    margin-top: -1.65%;
    /*background-image: url(images/lines.png);*/
}

/*   .about1{
    background: rgba(115, 115, 115, 0.5);
    height: 600px;
    width: 100%;
    margin-top: -1.65%;*/
  


.about h2 {
  color: #fff;
  padding: 2%;
  font-size: 3.2rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.about h3 {
   font-family: 'Open Sans', sans-serif;
  margin-top: -2%;
  padding: 1%;
}

.about p {
   font-family: 'Open Sans', sans-serif;
  padding-left: 30%;
  padding-right: 10%;
  font-size: 0.9rem;
  width: 80%;
  color: #222321;
}

/*.moods {
  background-image: url(images/lines.png);
}*/

.moods {
  margin-left: 10%;
}

.btn-primary {
    border: 0px solid #fff;
    display: inline-block;
    min-width: 180px;
    padding: .6em;
    height: 50px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    /*margin: 15;*/
    font-size: 20px;
    font-weight: 300;
    border-radius: 30px;
    margin-top: 50px;
    background-color: #9BCECA;
    margin-right: 5%;
    transition: .5s;
    font-family: 'Norpeth';
    z-index: 1000;
    
}

.btn-primary1 {
    border: 0px solid #fff;
    display: inline-block;
    min-width: 180px;
    padding: .6em;
    height: 50px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    /*margin: 15;*/
    font-size: 20px;
    font-weight: 300;
    border-radius: 30px;
    margin-top: -50px;
    background-color: #B73737;
    margin-left: 2%;
    transition: .5s;
    font-family: 'Norpeth';
    
}

.btn-primary4 {
    border: 0px solid #fff;
    display: inline-block;
    min-width: 150px;
    padding: .6em;
    height: 40px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    /*margin: 15;*/
    font-size: 15px;
    font-weight: 200;
    border-radius: 30px;
    margin-top: 3%;
    background-color: #B73737;
    margin-left: -1%;
    transition: .5s;
    font-family: 'Norpeth';
    
}

.btn-primary .btn-primary1:hover {
  background-color: #396576;
}

/*.circle {
  margin-top: -4%;
}*/

.circle img{
width: 4%;
margin-top: -8%;
z-index: 1;
max-width: 100%;
position: absolute;
margin-left: 47%;
}

/* === PURCHASED EMOTIONS === */

.purchased {
  background-color: #B73737;
  height: 500px;
  margin-top: -6%;
}

.purchased h1 {
  font-size: 2.8rem;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin-left: 5%;
  position: absolute;
  z-index: 1;
}

/* ==== CAROUSEL ===*/

.carousel {
  margin-top: -2%;
    height: 100%;
    background-color: #B73737;
}

.carousel-caption {
  bottom: 40px;
}

/*#button-moods {
  margin-right: 10%;
  width: 100%;
}*/

.btn-default{
  /*margin-bottom: 10%;*/
  margin-top: 50px;
  border: 2px solid #9BCECA;
    display: inline-block;
    min-width: 180px;
    padding: .6em;
    height: 50px;
    text-align: center;
    color: #737373;
    font-style: normal;
    letter-spacing: 1px;
    /*margin: 15;*/
    font-size: 20px;
    font-weight: 300;
    border-radius: 30px;
    background-color: #9BCECA;
    margin-right: 5%;
    transition: .5s;
    font-family: 'Norpeth';
}
.btn-default:hover {
background-color: #396576;
color: #fff;
 border: 2px solid #396576;
}
.btn-default.buy:hover {
background-color: #9BCECA;
}

.btn-primary.buy {
  margin-bottom: 10%;
  border: 2px solid #9BCECA;
    display: inline-block;
    min-width: 180px;
    padding: .6em;
    height: 50px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    /*margin: 15;*/
    font-size: 20px;
    font-weight: 300;
    border-radius: 30px;
    background-color: #9BCECA;
    margin-right: 5%;
    transition: .5s;
    font-family: 'Norpeth';
}

.btn-primary.buy:hover {
background-color: #396576;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.emobox {
  width: 30%;
  height: 40%;
/*  border-style: solid ;
  border-color: #b3b3b3;*/
  padding: 20px;
  margin-right: 5%;
  display: inline-block;
  float: left;
  margin-left: -9%;
  font-family: 'Open Sans', sans-serif;

/*  background-color: rgba(51, 51, 51, 0.5);*/
  
}

.emobox1 {
  width: 30%;
  height: 40%;
/*  border-style: solid ;
  border-color: #b3b3b3;*/
  padding: 20px;
  float: left;
  margin-left: 7%;
margin-right: -5%;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;

/*  background-color: rgba(51, 51, 51, 0.5);*/
  
}

.emobox2 {
  width: 30%;
  height: 40%;
/*  border-style: solid ;
  border-color: #b3b3b3;*/
  padding: 20px;
  float: right;
  margin-right: -5%;
  font-family: 'Open Sans', sans-serif;

/*  background-color: rgba(51, 51, 51, 0.5);*/
 /*display: inline-block;*/
  }

a #emobtn .btn-primary {
margin-top: -4%;
}





/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* ====BLUE AREA ===== */
.feature {
    background:#9BCECA;
    height: 600px;
    width: 100%;
    margin-top: -5%;

}

.feature h1 {
  padding: 3%;
  margin-left: 5%;
  color: #939393;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.8rem;
  margin-top: 5%;
}

.feature h3 {
  margin-left: 2%;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

#ex1Slider {
    width: 50%;
  padding: 10px;
  margin-top: -9%;
  /*display: inline-block;*/
  /*float: left*/
  margin-left: 50%;
}

.ui-content {
  width: 100%;
  padding: 20px;
  margin-top: 8%;
}

.ui-content label {
  font-size: 1.5rem;
  font-family: 'Norpeth';
  color: #fff;
  margin-left: 10%;
}

.rating-label{
margin-left: 13%;
}
.ui-content2 {
  width: 55%;
padding-top: 14px;
  margin-top: -12%;
  margin-right: -4%;
  /*display: inline-block;*/
  /*float: left*/
  margin-left: 48%;

}

.contents ul{
  margin-top: 8%;
  list-style-type: none;
  font-family: 'Norpeth';

}

.points {
  width: 40%;
}

input#mytext {
  width: 50%;
  height: 80;
}

.focus {
  margin-top: 5%;
}

.focus p {
  font-family: 'Norpeth';
  font-size: 1.5rem;

}

.experienceit {
margin-left: 65%;
margin-top: 3%;
}

.radio {
  width: 79%;
  padding: 20px;
  margin-left: 0%;
  font-family: 'Norpeth';
  font-size: 1.3rem;
  background-color: #737373;
  padding-left: 50px;
}


.radio label{
color: #fff;
}
/* === RED SECTION === */

.red {
   background:#B73737;
    height: 520px;
    width: 100%;
    margin-top: 0%;
}

.red h1 {
  padding: 20px;
  margin-left: 5%;
  color: #222321;
  font-family: 'Norpeth';
  font-weight: 300;

}

.red p {
  margin-top: 50px;
  font-family: 'Norpeth';
  font-size: 1rem;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  /*margin-top: -8%;*/
  padding: 5%;
}
.rating1 {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-top: -2%;
  padding: 5%;
}
.rating2 {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-top: -2%;
  padding: 5%;
}

.rating > span {
  display: inline-block;
 /* position: relative;*/
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   margin-left: 10%;
}

.ranking {
/*  width: 22%;
  height: 7%;*/
  background-color: #a6a6a6;
  margin-top: 5%;
}

/*.ranking p {*/
/*  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;*/
/*  padding: 7%;*/
/*  width: 22%;*/
/*  height: 7%;*/
/*    background-color: #a6a6a6;*/
/*}*/

.ranking2 {
  margin-top: 45%;
    width: 22%;
  height: 7%;
  background-color: #a6a6a6;
}

/*.ranking2 p{

  padding: 7%;
  width: 22%;
  height: 7%;
  background-color: #a6a6a6;
}*/

 .btn.first{
    background-color: #a6a6a6;
      width: 50px !important;
  height: 50px !important;
  font-size: 15px;
  padding-top: 12px;
  margin-top: 50px;
  margin-left: 20%;
}

 .btn.second{
    background-color: #a6a6a6;
      width: 50px !important;
  height: 50px !important;
  font-size: 15px;
  padding-top: 12px;
  margin-top: 40px;
  margin-left: 90%;
}

 .btn.third{
    background-color: #a6a6a6;
      width: 50px !important;
  height: 50px !important;
  font-size: 15px;
  padding-top: 12px;
    margin-top: 40px;
    margin-left: 90%;
}



.categories {
    background:#737373;
    height: 820px;
    width: 100%;
    margin-top: -5%;
}

.categories h1 {
   padding: 20px;
  color: #4d4d4d;
  font-family: 'Norpeth';
  font-weight: 300;
  font-size: 3rem;
}


.box4 
{
  margin: 100px auto;
  width: 300px;
  height: 50px;
  border-radius: 0px 30px 30px 0px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}




/*=======     =======*/
/* -- COLUMN GRIDS --- */
/*========    ======= */

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pageTitle sup
{
  font-size: .6em;
  color: #333;
}
.well {
  padding: 3%;
  margin: 20px auto;
  border:none;
  text-align: center;
  background-color: #737373;
}

.panel {
  background-color:#a6a6a6;
  box-shadow: 0 1px 1px rgba(0,0,0,.0);
}
.wrapper {
  background-color:#a6a6a6 ;
}
.well p
{
  font-weight: 300;
}

.content {
  margin-top: 10%;
}
.content p
{   
  margin-top: 5%;
  font-weight: 200;
  font-family: 'Norpeth';
}

.contain {
  background-color: rgba(64, 64, 64, 0.8);
  margin-top: 23%;
  height: 20%;
}

.glyphicon.glyphicon-plus {
    font-size: 35px;
    color: rgba(179, 179, 179 0.5);
}
.cardContainer 
{
 
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;

  
  /*depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;

  /*border: 1px solid #ff0000;*/
  padding-left: 1%;
}
.secondRow
{
  margin-top: -1.4%
}

.card 
{
  width: 99%;
  height: 250px;
  cursor: pointer;
  background-image: url("images/pattern.png");
  
  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped 
{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.card.flipped:
{ 
}

.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  color: white;
  text-align: center;
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

.card .back {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;
  text-align: left;
  line-height: 25px;
}

.card .back {
  background: #03446A;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card.content {
  padding-top: 5%;
}

.card .content li{
  list-style-type: none;
}
/*Colors for front and back applied here*/
.cardContainer:first-child .card .front {
  background: #396576;
  background-image: url(images/pattern.png);
}

.cardContainer:first-child .card .back {
  background: #B73737;
}

.cardContainer:nth-child(2) .card .front {
  background: #396576;
   background-image: url(images/pattern.png);
}
.cardContainer:nth-child(2) .card .back {
  background: #B73737;
}

.cardContainer:nth-child(3) .card .front {
  background: #396576;
   background-image: url(images/pattern.png);
}
.cardContainer:nth-child(3) .card .back {
  background: #B73737;
}

.cardContainer:nth-child(4) .card .front 
{
  background: #396576;
   background-image: url(images/pattern.png);
}
.cardContainer:nth-child(4) .card .back 
{
  background: #B73737;
}



h3.cardTitle {
  line-height: 1.2em;
  margin-top: 18%;
  font-weight: 400;
  font-family: 'Norpeth';
}
.content h3.cardTitle
{
  margin-top: 0%;
}

.content {
  padding: 4%;
  font-weight: 100;
  text-align: left;
  font-weight: bold;
  font-family: 'Norpeth';
}

@media all and (max-width: 1000px){
  h3.cardTitle{
      font-weight: 500;
       
  }
  .content p
  {
    margin-top: -15%;
    line-height: 1.2em;
    font-family: 'Norpeth';
  }
  
  .card
  {
   height:175px;
  }

}
@media all and (max-width : 752px) {
 
  .secondRow
  {
    margin-top: -3%;
  }
  .cardContainer:nth-child(3),.cardContainer:nth-child(4)
  {
    margin-top: 3%;
  }

}
@media all and (max-width : 390px) {
 
  .card
  {
  width:100%;
   height:150px;
  }
  .secondRow
  {
    margin-top: -9%;
  }
  .well 
  {
  padding: 1%;

  }
   .cardContainer:nth-child(3),.cardContainer:nth-child(4)
  {
    margin-top: 5%;
  }
  h3.cardTitle
  {
   font-weight: 500; 
   font-family: 'Norpeth';    
  }
  .content p
  {
    margin-top: -20%;
    line-height: 1.2em;
    font-family: 'Norpeth';
  }
  .cardWrapper
  {
    margin-left: 4%;
  }

}

.purchase {
  height: 400px;
  width: 100%;
  background-color: #404040;
  margin-top: -3%;
  
}

.purchase h1 {
  font-family: 'Norpeth';
  font-size: 3rem;
  padding: 5%;
  /*margin-right: 20%;*/
  font-weight: 300;

  
}

.cart {
  padding: 20px;
  margin-left: 30%;
  width: 70%;
  margin-top: 3%;
}

.cart .btn-primary {
  margin-top: 0%;
  margin-left: 2%;
}

 #feild {
  width: 300px;
  height: 50px;
  background: #fff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.again {
  color: #B73737;
  font-family: 'Norpeth';
}

.again h1 {
   color: #B73737;
}

.triangle1 {
  width: 100%;

  position: absolute;

}

.triangle1 img{
  width: 30%;
  margin-top: 10%;
  position: absolute;
  z-index: 1;
  margin-left: 36%;
}

.toprated {
  background-color: #396576;
  height: 640px;
  margin-top: 150px;
  position: absolute;
  width: 100%;
}

.toprated h1 {
  color: #fff;
  font-size: 2.7rem;
/*  font-family: 'Norpeth';*/
 font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin-top: 12%;

}

.toprated p {
   font-family: 'Open Sans', sans-serif;
   margin-left: 4%;
}

.writing {
  width: 80%;

}

.writing p {
    font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #b3b3b3;
}

.btn-outline-secondary.writing {
  margin-top: 12%;
  background-color: #B73737;
}

.btn-primary.top {
  margin-top: -10%;
  margin-left: 29%;
  position: absolute;
}

.btn-primary.top1 {
  margin-top: -12%;
  margin-left: 29%;
  position: absolute;
}

.btn-primary.top2 {
  margin-top: -10%;
  margin-left: 29%;
  position: absolute;
}

.numbers {
  display: inline;
  width: 40%;
  height: 20%;
}

.col-sm-6.no {
  margin-left: 5%;
}

.numbers h2 {
  font-size: 4.5rem;
  font-family: 'Oregon';
  color: #fff;
  position: relative;
  margin-top: 15%;
  margin-left: 16%;
}

.triangle2 {
  width: 100%;
}

.triangle2 img{
  width: 40%;
  position: absolute;
  margin-top: -2%;
  z-index: 1;
  margin-left: 45%;
}

.btn-primary3 {
    border: 0px solid #fff;
    display: inline-block;
    min-width: 180px;
    padding: .6em;
    height: 50px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    /*margin: 15;*/
    font-size: 20px;
    font-weight: 300;
    border-radius: 30px;
    margin-top: 20px;
    background-color: #9BCECA;
    margin-right: 5%;
    transition: .5s;
    font-family: 'Norpeth';
    
}

.apart {
  margin-top: 5%;
  margin-left: 40%;
}

.recent {
/*  background-color: #9BCECA;*/
  height: 970px;
  width: 100%;
  margin-top: 5%;
  position: relative;
  background-color:rgb(51, 53, 49) ;
/*/*    background-image: url(images/mountain.jpeg);*/
}

.recent img {
  width: 100%;
}

.container.one {
/*  position: absolute;*/
/*   background-color:rgba(51, 53, 49, 0.5) ;*/
/*  height: 300px;*/
}


.group {
  width: 50%;
  margin-top: -2%;

/*  margin-top: -150%;*/

  /*margin-top: -2%;*/
}

.group p {
  font-size: 1rem;
  font-family: 'Norpeth';
  padding-left: 10px;
}

.group h1 {
  color:#9BCECA ;
 font-family: 'Open Sans', sans-serif;
}

.ranks {
width: 100%;

}

.last {
  width: 65%;
  margin-left: -25px;
  height: 8%;
  background-color: #bfbfbf;
   font-family: 'Open Sans', sans-serif;
   margin-top: -2%;

}

.last p {
  color: #222321;
  padding-top: 2%;
   font-family: 'Norpeth';
   font-size: 0.9rem;
}

.fa-thumbs-up {
  padding-left: 2%;
  padding-right: 3%;
  width: 15px;
}

.fa-thumbs-down {
  padding-left: 6%;
margin-top: 2%
  width: 15px;
}

.fa-thumbs-up:hover {
color:#9BCECA ;
}

.fa-thumbs-up:visited {
color:#9BCECA ;
}

.fa-thumbs-down:hover {
  color:#9BCECA ;
}

.rank1 {
  width: 100%;
  height: 80%;
/*  border-style: solid;
  border-color: #404040;*/
  padding: 25px;
  margin-top: 10%;
  background-color:rgba(255, 255, 255, 0.2)

}

.rank2 {
  width: 100%;
  height: 80%;

  padding: 25px;
  margin-top: 10%;
 background-color:rgba(255, 255, 255, 0.2)

}

.leave {
  margin-top: -5%;

}

.leave p {
    color:#222321 ;
    margin-left: 0%;
    font-size: 1rem;
    font-family: 'Norpeth';
}



input#points-rating {
-webkit-appearance: none;
width: 160px;
height: 20px;
margin: 10px 50px;
background: linear-gradient(to right, #333333 0%, #333333 100%);
  background-size: 150px 7px;
background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
outline: none;
zoom: 130%;
display: block;
margin: auto;
  margin-bottom: 30px;

}

input#points-rating::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 20px;
 height: 20px;
 background: #9BCECA;
 position: relative;
 z-index: 3;
  -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
}

input#points-home {
-webkit-appearance: none;
width: 260px;
height: 20px;
margin: 10px 50px;
background: linear-gradient(to right, #999999 0%, #999999 100%);
  background-size: 350px 7px;
background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
outline: none;
zoom: 130%;
display: block;
margin: auto;
  margin-bottom: 30px;

}

input#points-home::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 20px;
 height: 20px;
 background: #B73737;
 position: relative;
 z-index: 3;
  -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
}

label.plus{
color: #b3b3b3;
}

/*input::-webkit-slider-thumb:after {
 content: " ";
 width: 160px;
 height: 10px;
 position: absolute;
 z-index: 1;
 right: 20px;
 top: 5px;
 background: #2ecc71;
}*/


.rank img {
margin-left: 4%;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}


.triangle3 {
  width: 100%;
  padding: 20px;
}


.triangle3 img {
  width: 30%;
  margin-top: -1%;
  position: absolute;
  z-index: 1;
  margin-left: 8%;
}


/* JAVASCRIPT CRAZY MOVEMENTS */

.large-header {
  position: relative;
  width: 100%;
  background: #222321;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.large-header1 {
  position: relative;
  width: 100%;
  background: #737373;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}



.moving {

}
.confident {
  margin-top: 20%;
  margin-left: 42%;
  position: absolute;
  z-index: 1000;

}

/* ==== ANIMATED BACKGROUND ====  

#large-header {
/*  background-image: url('http://openwalls.com/image/44296/blue_universe_1680x1050.jpg');*/
}



.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
  position: fixed;
}

.main-title .thin {
  font-weight: 200;
}

.feelings {
  background-color: #808080;
  height: 550px;
  margin-top: 5%;
}

#paragraphs {
width: 80%;
margin-left: 15%;
margin-top: -2%;
}

.feelings img{
  position: absolute;
  margin-top: -10%;
  margin-left: -8%;
  opacity: 0.3;
/*z-index: 1;*/
}

.feelings h2 {
/*  padding: 2%;*/
  font-size: 2.8rem;
 font-family: 'Open Sans', sans-serif;
  color: #222321;
  padding-top: 3%;
  margin-left: 38%;
}

/* NICE MESSAGES */

.btn-success{
  color: #396576;
  background-color: #cccccc;
/*  padding-top:5px;
  padding-bottom:5px;*/
  border-radius:4px;
  border-style: none;
  z-index: 2;
}

.btn-success.one {
   margin-top: 25%;
   width: 30%;
   height: 8%;
   margin-right: 10%;
   position: absolute;
      padding-bottom: 4%;
 }

 .btn-success.two {
   margin-top: 6%;
   width: 23%;
   height: 20px;
   margin-left: 6%;
   position: absolute;
padding-bottom: 3%;
 }
  .btn-success.three {
   margin-top: 18%;
   width: 25%;
   margin-left: 60%;
   height: 8%;
   position: absolute;
   padding-bottom: 5%;
 }
 .btn-success.four {
   margin-top: 24%;
   width: 30%;
   margin-left: 33%;
   position: absolute;
 }
  .btn-success.five {
   margin-top: 9%;
   width: 40%;
   margin-left: 30%;
   position: absolute;
 }
  .btn-success.six {
   margin-top: 15%;
   width: 30%;
   margin-left: 5%;
   position: absolute;
 }
   .btn-success.seven {
   margin-top: 25%;
   width: 20%;
   margin-left: 68%;
   position: absolute;
 }
  .btn-success.eight {
   margin-top: 35%;
   width: 23%;
   margin-left: 25%;
   position: absolute;
 }
   .btn-success.nine {
   margin-top: 30%;
   width: 30%;
   margin-left: 40%;
   position: absolute;
 }

.btn-success:hover {
  background-color: #B73737;
}
.option {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 5;
}



#adjust1 {
height: 20px;
}

.play {
  height: 100px;
  width: 100%;
  background-color: #9BCECA;
}

.audio {
  width: 100%;
  margin-top: 2%;
  padding: 3%;

}

.geo {
  margin-top: -10%;
  z-index: -1;
}

.videos {
  height: 500px;
  width: 100%;
  margin-top: 2%;
  background-color: rgba(34, 35, 33, 0.5);
/*  background-image: url(images/geometric.jpeg); */
/*position: absolute;*/
}

.videos h2 {

  font-size: 2.8rem;
 font-family: 'Open Sans', sans-serif;
  color: #808080;
  padding-top: 3%;
  margin-left: 36%;
}

.vid {
margin-left: 20%;
padding: 5%;
}

.panel-footer.emo {
  margin-top: 5%;
}


/* === SIGN UP FORM == */

.form-top h3 {
  font-size: 22px;
    font-weight: 300;
    color: #B73737;
    line-height: 30px;
}

.form-top p {
  font-size: 1rem;
  color: #b3b3b3;

}

.form-top.two {
  margin-left: -5px;
}


.form-top.three {
  margin-left: -10px;
}

.form-bottom.three {
margin-left: -5%;
margin-right: 0px;
width: 110%;

}

#form_id {
  color: #8c8c8c;
}




::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 16px 20px 0 20px;
  background: #19b9e7;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
}

.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 60px 0 80px 0;
}

.description {
    font-family: 'Open Sans', sans-serif;
}
.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #19b9e7; }

.form-box {
  margin-top: 70px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #f3f3f3;
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}

.form-bottom {
  padding: 20px 25px 30px 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
  width: 100%;
}

.form-bottom form .input-error {
  border-color: #19b9e7;
}

.social-login {
  margin-top: 35px;
}

.social-login-buttons {
  margin-top: 25px;
}

/* FOOTER */

.main{
  margin-top: -2%;
  padding:110px 0;
  width: 100%;
  height: 400px;
}
.main h1{
  font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #e6e6e6;
    margin-bottom: 80px;
    text-transform: uppercase;
}
.content{
    margin: 0 auto;
    width: 81%;
    padding: 0px;
}
.footer-grids{
/*  background: #282828;*/
    padding: 2em 1em;

}
p.footer-gd {
    font-family: 'Open Sans', sans-serif;
    color: #908F8F;
    font-weight: 500;
  font-size:14px;
}
p.footer-gd a {
    font-family: 'Open Sans', sans-serif;
  color:#fff;
}
p.footer-gd a:hover {
  color: #2e99ff;
}
.footer{
  float:left;
}
.footer h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:  #b3b3b3;
    font-weight: 500;
    margin-bottom: 32px;
    font-family: 'Viga', sans-serif;
}
.footer.one {
    width: 37%;
}

.footer.three {
    width: 23%;
}
.footer.one p{
    font-family: 'Open Sans', sans-serif;
  color:#8c8c8c;
  line-height:2em;
  font-size:14px;
}
.footer.two {
    width: 23%;
    margin: 0 8%;
}
.footer.two ul{
  margin:0;
  padding:0;
}
.footer.two ul li{
    font-family: 'Open Sans', sans-serif;
  list-style-type:none;
  display:block;
    line-height: 1.5em;
  font-size:14px;
}
.footer.two ul li a{
color:#908F8F;  
display:block;
}
.footer.two ul li a.fb {
  background: url('icons/social2.png') no-repeat 0px 4px;  
    padding: 10px 0 12px 52px;
}
.footer.two ul li a.fb1 {
  background: url('icons/social1.png') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
}
.footer.two ul li a.fb2 {
    background: url('icons/social3.png') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
}
.footer.two ul li a.fb3 {
    background: url('icons/social4.png') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
}
.footer.two ul li a.fb4 {
    background: url('icons/social5.png') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
}
.footer.three ul li {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    display: block;
    color: #908F8F;
    font-size: 14px;
    line-height: 2.5em;
}
.footer.three ul li span {
    font-family: 'Open Sans', sans-serif;
    display: block;
}
.footer.three ul li:nth-child(1) {
    background: url('icons/icon2.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer.three ul li:nth-child(2) {
    background: url('icons/icon3.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer.three ul li a {
    background: url('icons/icon1.png') no-repeat 0px 6px;
    padding-left: 38px;
    display: block;
  color:#908F8F;
}
.copy-right-grids {
  margin-top: 23%;
  padding: 20px 30px;
    background: #211E1E;
    height: 60px;
    margin-left: 0;
    margin-right: 0;
}
.copy-left{
  float:left;
}
.copy-right{
  float:right;
}

.copy-right ul li {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    display: inline-block;
    margin: 0 0px;
    border-left: 1px solid #444343;
    padding: 0 12px;
}
.copy-right ul li a {
    color: #908F8F;
  font-size:13px;
}
.copy-right ul li:nth-child(1) {
    border: none;
}
.footer.two ul li a.fb:hover {
    background: url('icons/social3hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb1:hover {
    background: url('icons/social2hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb2:hover {
    background: url('icons/social4hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb3:hover {
    background: url('icons/social5hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb4:hover {
    background: url('icons/social1hover.png') no-repeat 0px 4px;
}
.footer.two ul li a:hover,.copy-right ul li a:hover,.footer.three ul li a:hover{
  color:#2e99ff;
}

/***** Media queries for sign up *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
  
  .middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0; border-top: 1px solid #ddd; }
  
}

@media (max-width: 415px) {
  
  h1, h2 { font-size: 32px; }

}


@media only screen and (max-width : 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .heading{
        	/*color:red;*/
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    	.heading{
        	color:blue;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	.heading{
        	color:#000;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	.heading{
        	color:green;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	.heading{
        	color:#FFF;
        }
    }



    /*==========  Non-Mobile First Method  ==========*/


    @media only screen and (max-width : 2560px) and (min-width: 1600px){
.circle {
  width: 100%;
}

.purchased {
  height: 600px;
}

.circle img{
  width: 3%;
}

.feature {
  height: 800px;
}
    }
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
.circle img{
  width: 3%;

}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
.circle img{
  width: 4%;
}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }